html {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-size-button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.grid-container {
    border: 2px solid black;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    background-color: black;
}

.grid-square {
    box-sizing: border-box;
    border: 2px solid black;
    background-color: white;
}