@font-face {
    font-family: 'Pixelify';
    src: url(./Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
}

* {
    font-family: 'Pixelify';
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightyellow;
}

.top-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 125px;
}

.reset {
    width: 60px;
    height: 60px;
    text-wrap: wrap;
    margin-top: 12px;
    background-color: darkred;
    color: gold;
}

.credit {
    color: darkred;
    margin-top: 10px;
}

.grid-size-button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.grid-size-button {
    background-color: darkred;
}

.etch-a-sketch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    width: 1000px;
    height: 1050px;
    border: 4px solid darkred;
    padding-bottom: 30px;
    margin: 75px auto;
}

.etch-a-sketch-label {
    margin: 10px auto 10px;
    font-size: 64px;
    color: gold;
    font-weight: 500;
}

.grid-container {
    border: 2px solid darkred;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    background-color: white;
    margin: 0px;
}

.etch-a-sketch-buttons-container {
    margin: 32px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 310px;
    height: 100px;
}

.color-buttons-container, 
.gradient-buttons-container {
    display: flex;
    justify-content: center;
}

.color-button, 
.black-button, 
.back-button,
.front-button,
.gradient-button, 
.solid-button {
    width: 90px;
    height: 90px;
    text-align: center;
    font-size: 17px;
}

.grid-square {
    box-sizing: border-box;
    z-index: 0;
}

.back {
    z-index: 1;
}

.front,
.front.back {
    z-index: 2;
}