html {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-size-button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.grid-container {
    width: 600px;
    height: 600px;
    border: 1px solid black; 
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.grid-square {
    box-sizing: border-box;
    border: 1px solid black;
}